@import '../../assets/css/global.scss';

.singleForm {
    background-color: #fff;
    border-radius: 5px;
    min-height: 300px;
    margin-bottom: 3rem;

    & .title {
        @include border-radius(5, 5, 0, 0);
        background-color: $primary;
        color: #fff;
        padding : 1rem;

        & h5 {
            text-indent: -1.5rem;
            padding-left: 2rem;
            margin-bottom: 0px;
        }
    }

    & .body {
        padding : 1rem 2rem;
        color: $secondary;
    }

    & .sub-title {
        margin: {
            top: 1.5rem;
            bottom : 2rem;
        }
        color: $secondary;

        & hr {
            width: 80px;
            background-color: $secondary;
            height: 2px;
            float: left;
            margin-top: .75rem;
        }

    }

    & .form-group:last-child {
        border-bottom: none !important;    
    }
}

.form-group {
    color: $secondary;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid $neutral-1;

    & .wrapper {
        padding : {
            top : 2rem;
        }
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: space-between;


        & .input {
            flex-grow: 1;

            & label {
                font-size: 14px;
                margin-bottom: .25rem;
                color: $secondary-light;
            }
            & input {
                // min-width: 300px;
                width: 90%;
            }
        }

        & .textarea {
            flex-grow: 2;
            flex-shrink: 2;

            & label {
                font-size: 14px;
                margin-bottom: .25rem;
                color: $secondary-light;
            }
            & textarea {
                // min-width: 300px;
                width: 100%;
                height: 130px;
            }
        }
    }

    & .addField {
        color: $secondary-light;
        cursor: pointer;
        margin-top: 1rem;
        font-size: 12px;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
}
