@import '../../assets/css/color.scss';

.btn {
    font-size: 1rem;
    border-radius: 5px;
    font-family: avenir-medium;
    border: none;
    cursor: pointer;
    margin: .25rem;
    padding: .5rem 1rem;
    transition: all .2s ease-in-out;
}
.btn:hover {
    color: #fff;
}
.btn:focus {
    outline: 0;
    box-shadow: none!important;
}


.primary {
    color: #fff;
    background-color: $secondary;
    border: 1px solid $secondary;
}
.primary-outline {
    background-color: transparent;
    border: 1px solid $secondary;
    color: $secondary;
}
.primary:hover, .primary-outline:hover {
    background-color: $secondary;
    border: 1px solid $secondary;
}

.accent {
    color: #fff;
    background-color: var(--accent);
    border: 1px solid var(--accent);
}
.accent-outline {
    background-color: transparent;
    border: 1px solid var(--accent);
    color: var(--accent);
}
.accent:hover, .accent-outline:hover {
    color: #fff;
    background-color: var(--accent-hover);
    border: 1px solid var(--accent-hover);
}

.danger {
    color: #fff;
    background-color: var(--danger);
    border: 1px solid var(--danger);
}
.danger-outline {
    background-color: transparent;
    border: 1px solid var(--danger);
    color: var(--danger);
}
.danger:hover, .danger-outline:hover {
    color: #fff;
    background-color: var(--danger-hover);
    border: 1px solid var(--danger-hover);
}

.round {
    border-radius: 25px !important;
    padding: .75rem 1.75rem !important;
}

/* =================
        SIZE
================= */
.sm {
    padding : .25rem 5rem !important; 
}

.lg {
    padding: .75rem 1.75rem !important;
}

.jumbo {
    padding : 1rem 2.5rem !important;
}

.stacked {
    width: 100% !important;

}


.disabled {
    opacity: .6;
    cursor: not-allowed !important;
    pointer-events: none;
}

.primary-outline-active {
    background-color: $secondary !important;
    color: #fff;
    
}
.accent-outline-active {
    background-color: var(--accent) !important;
    color: #fff;
    outline: none !important;
}
.danger-outline-active {
    background-color: var(--danger) !important;
    color: #fff;
    outline: none !important;
}