$bg : #F4F4F4;
$neutral-1 : #E6E6E6;
$neutral-2 : #999999;

$primary : #FF3860;
$secondary : #23395B;
$secondary-light : #435E8A;

.font-priamry {
    color: $primary;
}
.bg-primary {
    background-color: $primary;
}