@mixin h1 {
  font-family: $font;
  font-weight: 700;
  font-size: 2.25rem;
  margin-bottom: 1rem;
}
@mixin h2 {
  font-family: $font;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 32px;
}
@mixin h3 {
  font-family: $font;
  font-size: 24px;
  font-weight: 700;
}
@mixin h4 {
  font-family: $font;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}
@mixin h5 {
  font-family: $font;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}
@mixin paragraph {
  font-family: $font;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0px;
}

@mixin border-radius($tl, $tr, $br, $bl) {
    border-top-left-radius: $tl+px;
    border-top-right-radius: $tr+px;
    border-bottom-right-radius: $br+px;
    border-bottom-left-radius: $bl+px;
  }